.offer__sliderTwo {
    width: 45%;
    height: 626px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.offer__slider-counterTwo {
    display: flex;
    width: 180px;
    align-items: center;
    font-size: 24px;
    color: rgba(0, 0, 0, .5);
}

.offer__slider-wrapperTwo {
    overflow: hidden;
    width: 100%; /* 550px */
    height: 100%; /* 560px */
    margin-top: 15px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, .25); */
}

.offer__slider-prevTwo {
    margin-right: 10px;
    cursor: pointer;
}

.offer__slider-nextTwo {
    margin-left: 10px;
    cursor: pointer;
}

.offer__sliderTwo #currentTwo {
    font-size: 48px;
    font-weight: 700;
    color: #000;
}

.offer__slider-innerTwo {
    border: none;
}

.offer__slideTwo {
    width: 100%; /* same as .offer__slider-wrapperTwo */
    height: 550px; /* adjust if needed */
}

.offer__slideTwo img {
    width: 100%; /* full width of .offer__slideTwo */
    height: 100%; /* full height of .offer__slideTwo */
    object-fit: contain; /* cover the slide area, may crop images */
}

.sliderTwo__descr {
    margin-top: 30px;
    width: 52%;
    font-family: 'Roboto', sans-serif;
    color: #303030; /* Matches the color scheme of the site */
    background-color: #ffffff21; /* White background for readability */
    padding: 20px; /* Adds space around the text */
  
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); Subtle shadow for depth */
    
    line-height: 1.6; /* Improves readability */
    text-align: justify; /* Ensures even alignment of text */
}

.sliderTwo__descr h3 {
    font-size: 24px; /* Larger font size for heading */
    font-weight: bold; /* Makes the title stand out */
    text-align: center; /* Centers the title */
    margin-bottom: 15px; /* Space after the title */
    color: #b486d5; /* A color that complements the gradient background */
}

.sliderTwo__descr i {
    font-style: italic; /* Italicize the text */
    color: #323232; /* Slightly darker text for emphasis */
}

.sliderTwo__descr p {
    font-size: 16px; /* Comfortable reading size */
    margin-bottom: 10px; /* Space between paragraphs */
}

